:root {
  --body-color: rgba(158, 201, 252, 0.75);
  --font-color: #222;

  --background-color: #80b8fa;
  --background-hover-color: rgba(133, 186, 246, 0.822);
  --focus-color: #99c6fc;

  --danger-color: #fb6565;
  --danger-hover-color: #ff7b7b;
  --danger-focus-color: rgba(251, 101, 101, 0.696);
}
