:root {
  --body-color: rgba(158, 201, 252, 0.75);
  --font-color: #222;

  --background-color: #80b8fa;
  --background-hover-color: rgba(128, 184, 250, 0.8);
  --focus-color: #99c6fc;
  --danger-color: #fb6565;
}
